body {
  background-color: #193f70;
  width: 100%;
  height: 100vw;
  margin: 0;
  
}

.menu-principal {
  width: 100%;
  background-color: #201f1f;
  height: 74px;
  margin-top: 0px;
  margin-left: 0px;
}

main {
  width: 93%;
  float: right;
  position: relative;
}

.icon-game-mania {
  padding: 0px 0px;
  float: left;
  margin-top: 9px;
  margin-right: 90px;
  position: relative;
  left: -10px;
  
  
}

.icons-menu ul li {
  display: inline-block;
  float: left;
  width: 70px;
  margin-top: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.icons-menu {
  width: 590px;
  position: absolute;
  right: -100px;
  top: -3px;
  margin: 0;
  padding: 0;
}

.icons-menu ul li:hover{
    opacity: 0.6;
    transition: 0.3s
}

.search-box {
  position: absolute;
  left: 9.4%;
  top: 44%;
  background-color: #095da6;
  height: 1px;
  border-radius: 50px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

::-webkit-input-placeholder {
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #aeaeae;
}

.loupe-black {
  display: none;
}

.search-text {
  background-color: #095da6;
  border: 0;
  outline: 0;
  font-size: 15px;
  width: 0;
  padding: 0;
  transition: 0.5s;
}

/* .search-btn {
  width: 0px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
} */

.search-box:hover > .search-text {
  width: 670px;
  padding-left: 1px;
}

.search-box:hover > .search-btn .loupe-white {
  display: none;
}

.search-box:hover > .search-btn .loupe-black {
  display: block;
}

.welcome {
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #aeaeae;
  position: absolute;
  right: 12.5%;
  top: 22%;
  text-decoration: none;
  transition: 0.3s;
}

.sign {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #aeaeae;
  position: absolute;
  right: 6.2%;
  top: 48%;
  text-decoration: none;
  transition: 0.3s;
}

.sign:hover{
    opacity: 0.6;
}

.banner-principal {
    position: center;
    right: 0.04%;
}

.banner {
}

.carrinho {
  position: absolute;
  right: 10px;
  top: 13px;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}

.carrinho:hover{
    opacity: 0.6;
}

.header-menu{
  position: absolute;
}

.nav-list{
  
  text-decoration: none;
  list-style: none;
  display: flex;
  width: 5vh;

}

.nav-list li{
  letter-spacing: 3px;
  margin-left: 0px;
  transition: 0.3s;

}

.nav-list li:hover{
  opacity: 0.6;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background:#201f1f;
  height: 10vh;
  width: 6.5vw;
}

a{
  text-decoration: none;
  color: antiquewhite;
  transition: 0.3s;
}

.mobile-menu div{
  width: 35px;
  height: 2.5px;
  background: #095da6;
  margin: 8px;
  transition: 0.3s;


}

.mobile-menu{
  cursor: pointer;
  display: none;
  margin-top: 1px;
  position: relative;
  top: 22%;
  transition: 0.3s;
}

@media (min-width: 999px) {
    body{
      overflow-x: hidden;
    }
    .nav-list{
      position: absolute;
      top: 7.2vh;
      left: 0px;
      width: 17vw;
      height: 55.6vh;
      background: #201f1f;
      flex-direction: column;
      align-items: left;
      justify-content: space-around;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in;
      font-size: 19px;
      
    }
    .nav-list li{
      margin-left: -19px;
      opacity: 6;
    }
    .mobile-menu{
      display: block;
    }
}

.nav-list.active{
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0);

  }

}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px)
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px)
}

.mobile-menu {
  animation: neon 2s alternate infinite ease-in-out;
}

@keyframes neon {
  from{
    filter: drop-shadow(0 0 0 var(--cor-neon))
  }
  to{
    filter: drop-shadow(0 0 30px var(--cor-neon));
  }
  
}

.mobile-menu {
  --cor-neon: #095da6;
}

#img {
  width: 35px;
  margin-right: 15px;
  justify-content: space-around;
  position: relative;
  top: 24%;
  cursor: pointer;
}

.bar-inf{
  height: 200px;
  width: 100;
  background: #201f1f;
  margin: 14px;
  border-radius: 10px;
}

#just-deal{
  height: 175px;
  margin: 13px;
  width: 98.2%;
  border-radius: 20px;

}

.box-product ul li {
  background: #201f1f;
  width: 200px;
  height: 310px;
  margin: 30px;
  border-radius: 20px;
  display: inline-block;
  position: center;
  cursor: pointer;

}

.box-product{
  margin-top: -140px;
}

#header-cat-fil{
  display: flex;
  margin-left: 6%;
  margin-top: -2%;
}

#category{
  margin-right: 1000px;
  font-size: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  color: antiquewhite;
  position: relative;
  top: -50px;
  
}

#filter{
  margin: 0;
  padding: 0;
  background-color: #201f1f;
  height: 30px;
  width: 120px;
  border-radius: 50px;
  color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  margin-top: 50px;

}

.box-product2 ul li {
  background: #201f1f;
  width: 400px;
  height: 550px;
  margin: 30px;
  border-radius: 20px;
  display: inline-block;
  position: center;
  margin-top: 70px;
}

#see-more li {
  background: #201f1f;
  height: 23px;
  width: 100px;
  margin: 25px;
  margin-left: 130px;
  margin-right: 30px;
  padding: 0px;
  border-radius: 50px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: -67px;
  color: antiquewhite;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  vertical-align: middle;
  font-size: 14px;
  transition: 0.4s;
  cursor: pointer;
}

#favorite li{
  background: #201f1f;
  height: 23px;
  width: 91px;
  margin: 2px;
  margin-left: 30px;
  margin-right: 139px;
  padding: 0px;
  border-radius: 50px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: -133px;
  color: antiquewhite;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  vertical-align: middle;
  font-size: 14px;
  transition: 0.4s;
  cursor: pointer;
}

#imgstar{
  height: 16px;
  margin: 0;
  margin-left: -20%;
  transition: 0.3s;
}

#imgstar:hover{
  opacity: 0.7;
}

#favorite li:hover{
  opacity: 0.8;
}

#see-more li:hover{
  opacity: 0.8;
}

#square{
  background: #ffff;
  height: 50%;
  border-radius: 20px;
  margin: 7px;
}

#desc{

}

#price-big{
  color: antiquewhite;
  font-size: 185%;
  margin-top: -3%;
  margin-left: 7%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#price-small{
  color: antiquewhite;
  margin-top: -32%;
  margin-left: 32%;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#off{
  color: rgb(255, 0, 0);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 51%;
  margin-top: -14%;
  font-size: 13px;
}

#ship{
  color: rgb(0, 255, 0);
  margin-left: 6%;
  margin-top: -5%;
  font-size: 16px;
}

#description{
  color: antiquewhite;
  margin-left: 5.5%;
  margin-top: -8%;
  margin-right: -5%;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#stars-5{
  margin-left: 6%;
  margin-top: -150%;
  display: inline-flex;
  position: relative;
  top: -1px;
}

footer{
  background-color: #201f1f;
  height: 30%;
  margin-top: -4%;
}

#footer-category li{
  color: rgb(175, 179, 182);
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 2%;
  margin-right: 6%;
}

#about-us{
  margin-left: 5%;
  margin-top: -3%;
  font-size: 23px;
  list-style: none;
}

#careers{
  margin-top: -6.59%;
  font-size: 23px;
  list-style: none;
  margin-left: 20.2%;
}

#contacts{
  margin-top: -10%;
  font-size: 23px;
  list-style: none;
  margin-left: 36.2%;
}

#social-media{
  margin-top: -6.8%;
  font-size: 23px;
  list-style: none;
  margin-left: 60%;
}

#support{
  margin-top: -13.3%;
  font-size: 23px;
  list-style: none;
  margin-left: 78%;
}

#imgs-foot li{ 
  list-style: none;
  display: flex;
  margin: 2px;
}

#imgs-foot{
  position: absolute;
  top: 226.5%;
  left: 56%;
}

/* LOGIN */

.header-login{
  background:#201f1f;
  height: 4%;
  width: 100%;
}

#logo-gm-login{
  position: left;
  margin-left: 3%;
  margin-top: 2%;
}

#login{
  background-color: #201f1f;
}

.login-box{
  position: center;
  background:#193f70;
  height: 500px;
  width: 450px;
  border-radius: 20px;
  position: center;
  margin-left: 35%;
  margin-top: 1%;
}

#box-user-pass{
  list-style: none;
  margin-top: 32px;
  position: relative;
  top: 34px;
  left: 65px;
  background: #b8c8ffa2;
  width: 60%;
  height: 30px;
  border-radius: 20px;
}

#user{
  border: 0;
  outline: 0;
  display: flex;
  background: transparent;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 6%;
  color: #201f1f;
}

#password{
  border: 0;
  outline: 0;
  display: flex;
  background: transparent;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 6%;
  color: #201f1f;
}

#text-user{
  position: absolute;
  top: 34%;
  left: 43%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#text-pass{
  position: absolute;
  top: 42%;
  left: 43%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#top-sign{
  position: relative;
  top: 50px;
  margin-left: 32.5%;
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  color: #ffffffa2;
  justify-content: center;
}

.footer-quad li{
  position: relative;
  top: 150px;
  left: -3%;
  list-style: none;
  display: flex;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  justify-content: center;
  margin-top: -9px;
}

#image-product{
  position: relative;
  top: 5%;
  left: 22%;
  align-items: center;
  justify-content: baseline;

}

